Repository ktbriggs-gc/omr, changes with the labels that .github/labeler.yml gives for each.
All labels: arch:aarch32, arch:aarch64, arch:power, arch:riscv, arch:x86, arch:z, build / configure, ci, cmake, comp:compiler, comp:diagnostic, comp:gc, comp:jitbuilder, comp:port, comp:test, comp:thread, comp:tril, documentation, os:aix, os:linux, os:macos, os:windows, os:zos, os:ztpf

.github/labeler.yml:

arch:aarch32:
  - compiler/arm/**/*
  - port/linuxarm/**/*

arch:aarch64:
  - compiler/aarch64/**/*
  - port/linuxaarch64/**/*

arch:power:
  - compiler/p/**/*
  - fvtest/compilerunittest/p/**/*
  - jitbuilder/p/**/*
  - port/aix*/**/*
  - port/linuxppc*/**/*

arch:riscv:
  - compiler/riscv/**/*
  - port/linuxriscv64/**/*

arch:x86:
  - compiler/x/**/*
  - jitbuilder/x/**/*
  - port/linux386/**/*
  - port/linuxamd64/**/*
  - port/osx/**/*
  - port/win*/**/*
  - thread/osx/**/*
  - thread/win32/**/*

arch:z:
  - compiler/z/**/*
  - jitbuilder/z/**/*
  - port/linuxs390*/**/*
  - port/zos390/**/*
  - thread/zos/**/*

build / configure:
  - buildenv/**/*
  - cmake/**/*

ci:
  - buildenv/jenkins/**/*
  - scripts/Appveyor-ProcessTests.ps1
  - scripts/build-on-travis.sh
  - ./.appveyor.yml
  - ./.travis.yml
  - ./azure-pipelines*

cmake:
  - cmake/**/*

comp:compiler:
  - compiler/**/*

comp:diagnostic:
  - ddr/**/*

comp:gc:
  - gc/**/*

comp:jitbuilder:
  - jitbuilder/**/*

comp:port:
  - port/**/*

comp:test:
  - fvtest/**/*

comp:thread:
  - thread/**/*

comp:tril:
  - fvtest/compilertriltest/**/*
  - fvtest/tril/**/*

documentation:
  - doc/**/*
  - ./**/*.md

os:aix:
  - port/aix*/**/*
  - thread/aix*/**/*

os:linux:
  - port/linux*/**/*
  - thread/linux*/**/*

os:macos:
  - port/osx/**/*
  - thread/osx/**/*

os:windows:
  - port/win*/**/*
  - thread/win*/**/*

os:zos:
  - port/zos/**/*
  - thread/zos/**/*

os:ztpf:
  - port/ztpf/**/*

Straw man (release)
  gc/base/Evacuator.cpp
  gc/base/Evacuator.hpp
  gc/base/EvacuatorBase.hpp
  gc/base/EvacuatorController.cpp
  gc/base/EvacuatorController.hpp
  gc/base/standard/Scavenger.cpp
  gc/stats/ScavengerStats.cpp
  gc/stats/ScavengerStats.hpp
Labels: comp:gc

WIP: Pruning
  gc/base/Evacuator.cpp
  gc/base/Evacuator.hpp
  gc/base/EvacuatorBase.hpp
  gc/base/EvacuatorController.cpp
  gc/base/EvacuatorController.hpp
  gc/base/EvacuatorCopyspace.hpp
  gc/base/EvacuatorScanspace.hpp
  gc/base/EvacuatorWhitelist.cpp
  gc/base/EvacuatorWhitelist.hpp
  gc/base/EvacuatorWorklist.hpp
  gc/base/GCExtensionsBase.hpp
Labels: comp:gc

Pruning (release)
  gc/base/Evacuator.cpp
  gc/base/Evacuator.hpp
  gc/base/EvacuatorBase.hpp
  gc/base/EvacuatorController.cpp
  gc/base/EvacuatorCopyspace.hpp
  gc/base/EvacuatorScanspace.hpp
  gc/base/EvacuatorWhitelist.hpp
  gc/base/standard/Scavenger.cpp
Labels: comp:gc

Pruning (release)
  gc/base/Evacuator.cpp
  gc/base/Evacuator.hpp
  gc/base/EvacuatorBase.hpp
  gc/base/EvacuatorController.cpp
  gc/base/EvacuatorController.hpp
  gc/base/EvacuatorCopyspace.hpp
  gc/base/EvacuatorScanspace.hpp
  gc/base/EvacuatorWhitelist.hpp
  gc/base/standard/Scavenger.cpp
Labels: comp:gc

WIP: Evacuator proof of concept
  gc/CMakeLists.txt
  gc/base/Evacuator.cpp
  gc/base/Evacuator.hpp
  gc/base/EvacuatorBase.cpp
  gc/base/EvacuatorBase.hpp
  gc/base/EvacuatorController.cpp
  gc/base/EvacuatorController.hpp
  gc/base/EvacuatorCopyspace.hpp
  gc/base/EvacuatorHistory.hpp
  gc/base/EvacuatorParallelTask.cpp
  gc/base/EvacuatorParallelTask.hpp
  gc/base/EvacuatorScanspace.hpp
  gc/base/EvacuatorWhitelist.cpp
  gc/base/EvacuatorWhitelist.hpp
  gc/base/EvacuatorWorklist.cpp
  gc/base/EvacuatorWorklist.hpp
  gc/base/GCExtensionsBase.hpp
  gc/base/IndexableObjectScanner.hpp
  gc/base/MarkingScheme.cpp
  gc/base/MarkingScheme.hpp
  gc/base/ObjectModelBase.hpp
  gc/base/ObjectScanner.hpp
  gc/base/SlotObject.hpp
  gc/base/standard/EnvironmentStandard.hpp
  gc/base/standard/ParallelScavengeTask.cpp
  gc/base/standard/ParallelScavengeTask.hpp
  gc/base/standard/Scavenger.cpp
  gc/base/standard/Scavenger.hpp
  gc/stats/CollectionStatisticsStandard.hpp
  gc/stats/ScavengerStats.cpp
  gc/stats/ScavengerStats.hpp
  include_core/thread_api.h
  thread/common/thrprof.c
  thread/exports.cmake
  thread/thread_include.mk
Labels: comp:gc, comp:thread

WIP: Evacuator proof of concept (cleanup)
  gc/base/Evacuator.cpp
  gc/base/Evacuator.hpp
  gc/base/EvacuatorBase.hpp
  gc/base/EvacuatorController.cpp
  gc/base/EvacuatorController.hpp
  gc/base/ObjectModelBase.hpp
  gc/base/standard/Scavenger.cpp
Labels: comp:gc

WIP: Evacuator proof of concept
  gc/base/Evacuator.cpp
  gc/base/Evacuator.hpp
  gc/base/EvacuatorBase.hpp
  gc/base/EvacuatorController.cpp
  gc/base/EvacuatorController.hpp
  gc/base/EvacuatorParallelTask.cpp
  gc/base/EvacuatorParallelTask.hpp
  gc/base/EvacuatorWorklist.cpp
  gc/base/standard/Scavenger.cpp
Labels: comp:gc

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

WIP: Evacuator proof of concept (addendum to fix for issue #1)
  gc/base/Evacuator.cpp
  gc/base/Evacuator.hpp
  gc/base/EvacuatorController.cpp
  gc/base/EvacuatorController.hpp
Labels: comp:gc

WIP: Evacuator proof of concept (bug fixes)
  gc/base/Evacuator.cpp
  gc/base/Evacuator.hpp
  gc/base/EvacuatorBase.cpp
  gc/base/EvacuatorBase.hpp
  gc/base/EvacuatorController.cpp
  gc/base/standard/Scavenger.cpp
  gc/stats/ScavengerStats.hpp
Labels: comp:gc

WIP: Evacuator proof of concept (clean up conditions)
  gc/base/Evacuator.cpp
  gc/base/EvacuatorBase.cpp
  gc/base/EvacuatorBase.hpp
  gc/base/EvacuatorController.cpp
  gc/base/ObjectModelBase.hpp
Labels: comp:gc
